.nav_container {
  grid-area: n;
  padding: 10px 10px;
  background-color: #d9fab9;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.nav_item {
  margin-bottom: 10px;
}

.nav_item a {
  text-decoration: none;
}

.activeLink {
  color: #049109;
}
