.container {
  margin: 10px;
  font-size: 14px;
}

.img_size_50 {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.container_items {
  margin-top: 20px;
}

.item {
  margin-right: 20px;
  padding: 5px;
}

.bord {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.wd_100 {
  width: 100px;
}

.mr_10 {
  margin-right: 10px;
}

.ml_10 {
  margin-left: 10px;
}

.mt_10 {
  margin-top: 10px;
}

.img_size_30 {
  width: 40px;
  height: 40px;
}

.wd_60 {
  width: 60px;
}

.ta_c {
  text-align: center
}

.error {
  margin-left: 386px;
  color: red;
}

